

@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500&family=Merriweather:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html{
    scroll-behavior: smooth;
}

.padding-40{
    padding: 40px;
}

/* header option design */ 
 
#headoption{
    display: flex;
    justify-content: space-between;
    height: 90px;
    background: #ECF2FF;
    align-items: center;
}
#headoption{
    box-shadow: 10px 10px 3px #5555553b;
    padding: 0 40px;
    position: sticky;
    top: -1px;
    left: 0px;
}
#headoption img{
  width: 150px;
}
#headoption #navbar{
    transition: 0.5s ease;
}
#headoption #navbar li{
    display: inline-block;
    margin-left: 20px;
}

#headoption #navbar li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 500;
    transition: .5s ease;
}

#headoption #navbar a:hover  {
   color:#245953 ;
}


#navbar li a.active::after,
#navbar li a:hover::after {

    content: "";
    display: block;
    width: 50%;
    height: 5px; 
    border-radius: 5px;
    background: #9A208C;
}

#nav{
    display: none;
}


#close{
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
}

#navbar.active{
    right: 0px;
}


/* section hero deisgn  */

#hero{
    background-image: url(img/hero/H1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    animation: change 8000ms  infinite ease-in-out;
    
}


@keyframes change{
    10%{
        background-image: url(img/hero/H1.jpg);
    }
    20%{
        background-image: url(img/hero/H2.jpg);
    }
    40%{
        background-image: url(img/hero/H3.jpg);
    }
    60%{
        background-image: url(img/hero/H4.jpg);
    }
    80%{
        background-image: url(img/hero/H5.jpg);
    }
}


#hero .text-hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
    color:#42a7af;
}

#hero .text-hero h4{
    color: black;
    font-size: 17px;
    font-weight: 600;
}
#hero .text-hero h2{
    color: rgb(6, 160, 232);
    font-size: 40px;
    font-weight: 600;
}

#hero .text-hero button{
    border: none;
    padding: 10px;
    outline: none;
    background: red;
    margin-top: 30px;
    border-radius: 13px;
    width: 160px;
    color: #fff;
    transition: 0.5s ease;
}

#hero .text-hero button:hover{
    background-color: #245953;
}


/* product-icon design */

#product-icon .icon-set{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

#product-icon .iconN1{
    border: 1px solid greenyellow;
    width: 170px ;
    height: 180px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #55555557;
    transition: 0.5s ease;
}

#product-icon .iconN1:hover{
    box-shadow: 10px 10px 10px #55555506;
}


/* product service design */

#product-service{
    text-align: center;
}

#product-service h2{
    font-weight: 600;
    font-size: 45px;
}


#product-service .product-content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}




#product-service .product-content .shirt-server{
  width: 260px;
  height: auto;
  padding: 20px 20px  ;
  background: white;
  margin-top: 40px;
  border-radius: 20px;
  border: 1px solid rgba(172, 255, 47, 0.555);
  box-shadow: 10px 10px 15px #55555582;
  transition: 0.5s ease;
}

#product-service .product-content .shirt-server:hover{
    box-shadow: 10px 10px 15px #55555508;
}

#product-service .product-content .shirt-server img{
    width: 100%;
    height: 70%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}


#product-service .order{
    text-align: start;
}

#product-service .order span{
  font-size: 14px;
  color: #245953;
}

#product-service .order h2{
  font-size: 20px;
  color: rgb(169, 24, 128);
  padding-top: 5px;
}

#product-service .order h6{
  font-size: 15px;
}

#product-service .order ul {
    display: flex;
}

#product-service .order .star  i{
    color: #e4ad13c8;
}
#product-service .order .fa-cart-shopping{
    width: 40px;
    height: 40px;
    background-color: rgba(0, 106, 255, 0.22);
    padding: 10px;
    border-radius: 50%;
    color: rgb(11, 97, 245);
}

.product-content .incon-order{
    display: flex;
   justify-content: space-between;
   margin-top: 10px;
}
   

/* banner design in home page */


#banner{
    background-image: url(img/all\ banner/b1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}


#banner button{
    padding: 10px;
    width: 150px;
    border: none;
    outline: none;
    background-color: #245953;
    border-radius: 5px;
    color: #fff;
    transition: 0.4s ease;
    margin-top: 20px;
}

#banner button:hover{
    background: #e80dce;
}

#banner h4{
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;;
    font-weight: 400;
    color: green;
    font-size: 20px;
}

#banner h2{
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;;
    font-weight: 400;
    font-size: 20px;
}


/* banner style design */

#banner-style{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#banner-style .style1{
    background-image: url(img/style/st1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    height: auto;
    width: 48%;
    text-align: center;
    padding-top: 180px;
    color: #fff;
}

#banner-style .style1 button{
    padding: 10px;
    width: 200px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: aqua;
    transition: 0.4s ease;
}

#banner-style .style2 button{
    padding: 10px;
    width: 200px;
    border: none;
    outline: none;
    border-radius: 10px;
    background:red;
    transition: 0.4s ease;
}

#banner-style .style1 button:hover{
    background: none;
    border: 1px solid aqua;
    color: #fff;
}




#banner-style .style2 button:hover{
    background: none;
    border: 1px solid greenyellow;
    color: #fff;
}




#banner-style .style2{
    background-image: url(img/style/st2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    height: auto;
    width: 48%;
    text-align: center;
    padding-top: 180px;
    color: greenyellow;
    padding-bottom: 60px;
}

/* gril-style design */

#gril-style{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#gril-style .gril1{
  background-image: url(img/style/st3.jpg);
  height:auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  text-align: center;
  padding-top: 50px;
  color: cornsilk;
}

#gril-style .gril2{
  background-image: url(img/style/st4.jpg);
  height: 40vh;
  width: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 50px;
  color: cornsilk;
}

#gril-style .gril3{
  background-image: url(img/style/st5.jpg);
  height: 40vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  text-align: center;
  padding-top: 50px;
  color: cornsilk;
}


/* newlleter sing page */

#sing-up{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background: #245953;
}

#sing-up .sing-men{
    color: #fff;
}

#sing-up .sing-men h2{
    font-size: 24px;
}
#sing-up .sing-men p{
    color: #42a7af;
}
#sing-up .sing-men span{
    color: coral;
}


#sing-up .input {
  width: 400px;
}

#sing-up .input input{
    width: 280px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}

#sing-up .input button{
    padding: 10px;
    border: none;
    width: 100px;
    border-radius: 10px;
    background: rgb(242, 231, 13);
    transition: 0.4s ease;
}

#sing-up .input button:hover{
    background: #e80dce;
}


/* footer all-about design */


footer{
    background: black;
}
footer .all-about{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #dd870e;
    padding: 70px 20px;
}

footer .all-about .img img{
 width: 150px;
}

footer .all-about ul li{
    list-style: none;
}

footer .all-about ul li a{
    color: #fff;
    text-decoration: none;
}


footer .app-download{
    display: flex;
    justify-content: space-between;
    color: #fff;
}

footer .app-download .app1{
    width: 200px;
}
footer .app-download .app2{
    width: 300px;
}


.pay img{
    border-radius: 20px;
    border: 1px solid green;
}
.app img{
    border-radius: 20px;
    border: 1px solid green;
    margin-left: 20px;
}
.play-img{
    display: flex;
    justify-content: space-between;
}
footer .app-download .app3{
    width: 200px;
}

footer h4{
    color: #fff;
    padding-top: 30px;
    text-align: center;
}



/* shop-page design */

#banner-1{
    background-image: url(img/all\ banner/b2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

#banner-1 h1{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
#banner-1 h2{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}



/* blog page design */

#banner-3{
    background-image: url(img/all\ banner/b3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

#banner-3 h1{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
#banner-3 h2{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}


#blog-style .blog-img{
    background-image: url(img/blog/bd.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vh;

}



#blog-style .blog .show1-blog{
    background-image: url(img/blog/bd1.jpg);
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 40vh;
}

.blog{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top: 30px;
}

#blog-style .blog .show2-blog{
    background-image: url(img/blog/bd2.jpg);
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 40vh;
}
#blog-style .blog .show3-blog{
    background-image: url(img/blog/bd3.jpg);
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 40vh;
}


/* ========= about page design ========= */

#banner-4{
    background-image: url(img/about/ab.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

#banner-4 h1{
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}
#banner-4 h2{
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.textcount{
    width: 400px;
    margin-top: 100px;
}

#about{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image{
    width: 400px;
}
#video h2{
    text-align: center;
}

#video span{
    color: #245953;
}
.vid{
    display: flex;
    justify-content: center;
    align-items: center;
}
#video video{
    width: 500px;
    border-radius: 20px;
}


/* ===========  contact design ======= */

.contact-seson{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-info{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

#info .info ul li{
  color: #245953;
  background: white;
  box-shadow: 10px 10px 10px #55555558;
  list-style: none;
  margin-top: 20px;
  padding: 8px;
  border: 2px solid whitesmoke;
  border-radius: 10px;
}

#info .map iframe{
    border-radius: 10px;
}

#sing-stem .sing-menu{
    width: 400px;
}

#sing-stem .sing-menu input{
 width: 100%;
 padding: 10px;
 outline: none;
 border: none;
 box-shadow: 10px 10px 10px #5555554f;
 margin-top: 20px;
 border: 1px solid yellow;
 border-radius: 10px;
}

#sing-stem .sing-menu textarea{
    width: 100%;
    border-radius: 10px;
    border: none;
    border: 1px solid #245953;
    margin-top: 20px;
}

#sing-stem .sing-menu .button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


#sing-stem .sing-menu button{
  padding: 10px;
  width: 150px;
  border: none;
  outline: none;
  background: #dd870e;
  border-radius: 5px;
}


/* ===========  crt design ======= */


.produc-quantity{
    box-shadow:  5px 5px 5px #5555554a;
    padding: 10px;
    border: 1px solid yellow;
    overflow-x: auto;
}
#quantity table thead tr td {
    width: 200px;
}
#quantity thead{

    border-top: 1px solid rgb(0, 210, 87);
    border-bottom: 1px solid rgb(0, 210, 87);
    font-size: 20px;
}
#quantity thead tr td{
    text-transform: uppercase;
}
#qunatity table{
    width: 100%;
    border-collapse: collapse;
    white-space: normal;
    table-layout: fixed;
}

#quantity table tbody tr td img{
    width: 50px;
    margin-top: 20px;
}
#quantity table tbody tr td input{
    width: 50px;
}

#quantity table tbody tr td {
    width: 200px;
}



/* ===========  product-set design ======= */

#product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#product-list .single-pro-img{
    width: 400px;
}

#product-list .choice-img{
    display: flex;
    justify-content: space-between;
}

#product-list .choice-img{
    flex-basis: 24%;
    height: 50px;
    margin-top: 10px;
}

#product-list .choice-img img{
  width: 100%;
  height: 135px;
}

#product-list .product-info {
    width: 400px;
    
}

#product-list .product-info h4 {
    color: #9A208C;
}

#product-list .product-info h3 {
    color:#245953;
}

#product-list .product-info h2 {
    color:rgba(16, 74, 233, 0.628);
    font-weight: 600;
}
#product-list .product-info select {
    padding: 10px;
    border: none;
    box-shadow: 5px 5px 5px #55555567;
    border: 1px solid yellow;
    outline: none;
    border-radius: 4px;
}
#product-list .product-info input {
    width: 100px;
    padding: 8px;
    border: none;
    box-shadow: 5px 5px 5px #55555567;
    border: 1px solid rgb(204, 90, 14);
    outline: none;
    border-radius: 4px;
}

#product-list .product-info button{
    width: 100px;
    padding: 8px;
    border: none;
    box-shadow: 5px 5px 5px #55555567;
    border: 1px solid rgb(218, 153, 13);
    outline: none;
    font-size: 16px;
    background: #d18605;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    transition: 0.4s ease;
    
}

#product-list .product-info button:hover{
    background: #9A208C;
}